
/*FOOTER*/
.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 970px;
  height: auto;
}

.wrapper:after {
  content: "";
  height: 80px;
  display: block;
}
.page-footer {
  min-width: 970px;
  height: 80px;
  margin-top: -80px;
}

/*HEADER*/

.container-big {
  max-width: 1200px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.page-header{
  height: 119px;
  /*background: */
  position: relative;
  margin-bottom: 39px;

}

.page-header .header-logo-link{
  position: absolute;
  top: 39px;
  left: 0;

}
.page-header .header-logo-text {
  position: absolute;
  left: -9999px;

}
.page-header .socials{
  position: absolute;
  right: 0;
  top: 36px;
}
/*FOOTER END*/
.socials{
  margin: 0;
  padding: 0;
  min-width: 260px;

}
.socials .socials-item{
  list-style: none;
  display: inline-block;
  height: 47px;
  width: 47px;
  margin-left: 19px;

}
.socials .socials-item:first-child {
  margin-left: 0;
}
.socials .socials-link {
  display: block;
  height: 100%;
  width: 100%;
  /*text-indent: -9999px;*/

}









.page-footer {
  background: #eff3f7 url(../../assets/images/line.png) top center no-repeat;
  font-family: "fira-sanslight";
  color: #4a545d;
  background: grey;
}
.page-footer .container {
  padding-top: 23px;
  position: relative;
}

.page-footer .copyright {
  margin: 0 180px;
  padding-top: 7px;
  text-align: center;
  font-size: 13px;
}
/*LOGIN*/
.page-footer .lock {
  position: absolute;
  top: 26px;
  left: 20px;
}

.lock .lock-inner {
  display: block;
  height: 40px;
  font-size: 16px;
  line-height: 2.2;
  color: #4a545d;
  text-decoration: none;
  /*background: url(../../assets/images/lock-close.png) no-repeat;*/
  padding-left: 24px;
}
.lock .lock-inner:hover{
  text-decoration: underline;
  /*background: url(../../assets/images/lock-close.png) no-repeat;*/
}

/*Main class*/
.container{
  width: 960px;
  margin: 0 auto;

}
.text-center{
  text-align: center;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
/*CLEARFIX*/
.container:before, .clearfix:before,
.container:after, .clearfix:after {
  content: "";
  display: table;
}
.container:after, .clearfix:after {
  clear: both;
}
/*End clearfix*/




















/**/
